<div class="container - fluid">
    <div class="col-xxl-12">
        <nav class="navbar navbar-expand-xxl navbar-dark bg-primary" style="height:60px;">
            <div class="container-fluid" style="color: cornsilk; font-size: 100%;">
                <p class="text-xl-start " >&emsp;&emsp; ĐỒ ÁN PHÂN TÍCH THIẾT KẾ PHẦN MỀM &emsp; MSSV: 20880212 &ensp; Phạm Mạnh Cường &emsp; </p>
                <p class="text-xl-start " >&emsp; TP. Hồ Chí Minh, tháng 11/2022 </p>
            </div>
          </nav>
    </div>
    
</div>