
<!doctype html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>    
    <div class="container">
        <div class="row">
            <% include header%>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <h2 class="display-3" style="color: red; padding-top: 10px; text-align: center;font-weight: bolder;">QUẢN LÝ KHÁCH SẠN <br/>DAOWS</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"><% include leftsidebar%></div>
            <div class="col-lg-9">
              <img src="/images/kayaresort1.jpg" class="rounded mx-auto d-block" style="width: 685px;height:60%;" alt="overview1">
            </div>
        </div>
        <div class="row">
            <% include footer%>
        </div>
</div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    
  </body>
</html>