<div class="col-lg-3 " style= "color:cornsilk; font-size: 100%;">
    <nav class="nav nav-pills flex-column align-self-center" >
        <a class="text-lg-center nav-link active" href="/thuephong/dsphong" style="width:225px; height: 50px;padding-top: 12px;">DANH SÁCH PHÒNG</a>
        <hr>
        <a class="text-lg-center nav-link active"  href="/khcn" style="width:225px; height:50px;padding-top: 12px;">QUẢN LÝ KHÁCH HÀNG </a>
        <hr>
        <a class="text-lg-center nav-link active" href="/thuephong" style="width:225px; height:50px;padding-top: 12px;">QUẢN LÝ THUÊ PHÒNG</a>
        <hr>
        <a class="text-lg-center nav-link active" href="/traphong" style="width:225px; height:50px;padding-top: 12px;">QUẢN LÝ TRẢ PHÒNG</a>
        <hr>
        <a class="text-lg-center nav-link active" href="#" style="width:225px; height:50px;padding-top: 12px;"> QUẢN LÝ THANH TOÁN</a>
        <hr>
    </nav>
</div>

     

